<!-- <header class="header">
  <img src="https://i.ibb.co/mbx2112/logo2.png>" alt="logo">
</header> -->

<!-- <div class="slider">
  <div class="search">
      <h4>Departure date</h4> <input type="date"
      [min]="todayShort" id="departureTime" [(ngModel)]="departureDate" >
      <h4>Returning flight date</h4>
      <input type="date" id="arrivalTime" [disabled]="" [min]="departureDate" [(ngModel)]="returnDate">
      <br>
    <h4>Airport of Departure</h4>
        <select name="" id="" [(ngModel)] = "departureAirport">
          <option [value]="city.key" *ngFor="let city of opts">
            {{city.key}}
          </option>
        </select>
    <h4>Destination</h4>
        <select name="" id="" [(ngModel)]="destinationAirport">
          <ng-container *ngFor="let city of opts">
          <option [value]="city.key" *ngIf="city.key !== departureAirport">
            {{ city.key }}
          </option>
          </ng-container>
        </select>
      <h3>Number of passengers</h3>
      <input type="number" id="passengers" [(ngModel)]="numberOfPassengers">
      <br>
      <button routerLink="/login" [disabled]="numberOfPassengers <= 0 || numberOfPassengers > 9" (click)="saving()">To summary</button>
  </div>
  <div class="header_copy">
<h1>We operate on the highest level!</h1>
  </div>
</div> -->


<!-- <div class="parent">
  <div class="div1"> <img src="https://i.ibb.co/mbx2112/logo2.png>" alt="logo"></div>
  <div class="div2"> </div>
  <div class="div3"> </div>
  <div class="div4"> </div>
  <div class="div5">
    <h4>Airport of Departure</h4>
    <select name="" id="" [(ngModel)] = "departureAirport">
      <option [value]="city.key" *ngFor="let city of opts">
        {{city.key}}
      </option>
    </select>
  </div>
  <div class="div6"> </div>
  <div class="div7"> </div>
  <div class="div8"> </div>
  <div class="div9"> </div>
  <div class="div10"> </div>
  <div class="div11"> </div>
  <div class="div12">
    <h1>We operate on the highest levels!</h1>
  </div>
  </div> -->


  <div class="parent">

    <div class="div1">
      <img class="logo" src="https://i.ibb.co/StCPyT5/logo3.png">
    </div>

    <div class="div2"> </div>
    <div class="div3"> </div>

    <div class="div4">
      <h1 class="copy_main">We operate on the highest levels!</h1>
    </div>

    <div class="div5"></div>

    <div class="div6">
      <h4>Fly from:</h4>
      <select name="" id="" [(ngModel)] = "departureAirport">
        <option [value]="city.key" *ngFor="let city of opts">
          {{city.key}}
        </option>
      </select>
    </div>

    <div class="div7">
      <h4>Fly to:</h4>
      <select name="" id="" [(ngModel)]="destinationAirport">
        <ng-container *ngFor="let city of opts">
        <option [value]="city.key" *ngIf="city.key !== departureAirport">
          {{ city.key }}
        </option>
        </ng-container>
      </select>
    </div>
    <div class="div8">
      <h4>Departure date</h4> <input type="date"
      [min]="todayShort" id="departureTime" [(ngModel)]="departureDate">
    </div>
    <div class="div9">
      <h4>Returning flight date</h4>
      <input type="date" id="arrivalTime" [disabled]="" [min]="departureDate" [(ngModel)]="returnDate">
    </div>
    <div class="div10">
      <h3>Number of passengers</h3>
      <input type="number" id="passengers" [(ngModel)]="numberOfPassengers">
    </div>
    <div class="div11">
      <h3>Children</h3>
      <input type="number" id="children" [(ngModel)]="numberOfPassengers">
    </div>
    <div class="div12">
      <button routerLink="/login" [disabled]="numberOfPassengers <= 0 || numberOfPassengers > 9" (click)="saving()">Fly!</button>
    </div>
    <div class="div13">
      <h1>Choose your next sky adventure!</h1>
    </div>
    </div>




<!-- <h1>Choose date and connection</h1> -->

<!-- <div class="wrapper">

	<h4>Departure date</h4> <input type="date"
  [min]="todayShort" id="departureTime" [(ngModel)]="departureDate" >

	<h4>Returning flight date</h4>
	<input type="date" id="arrivalTime" [disabled]="" [min]="departureDate" [(ngModel)]="returnDate">

	<br>

<h4>Airport of Departure</h4>
    <select name="" id="" [(ngModel)] = "departureAirport">
      <option [value]="city.key" *ngFor="let city of opts">
        {{city.key}}
      </option>
    </select>

<h4>Destination (must be different than departure location)</h4>
    <select name="" id="" [(ngModel)]="destinationAirport">
      <ng-container *ngFor="let city of opts">
      <option [value]="city.key" *ngIf="city.key !== departureAirport">
        {{ city.key }}
      </option>
      </ng-container>
    </select>

	<h3>Number of passengers</h3>
  <input type="number" id="passengers" [(ngModel)]="numberOfPassengers">


	<br>

	<button routerLink="/login" [disabled]="numberOfPassengers <= 0 || numberOfPassengers > 9" (click)="saving()">To summary</button>
</div> -->
<router-outlet> </router-outlet>
