  <div class="parent">

    <div class="div1">
      <a routerLink="/chooseflight"><img class="logo" src="/assets/png/logo.png"></a>
    </div>

    <div class="div2"> </div>
    <div class="div3">
      <h6>Project author: Krzysztof Rapacz || stock images source: www.freepik.com</h6>
    </div>
    <div class="div4">
      <h1 class="copy_main">The highest level of travelling</h1>
    </div>

    <div class="div5"></div>

    <div class="div6">
      <h2>FROM:</h2>
      <select class="input" name="" id="" [(ngModel)] = "departureAirport">
        <option [value]="city.key" *ngFor="let city of opts">
          {{city.key}}
        </option>
      </select>
    </div>

    <div class="div7">
      <h2>TO:</h2>
      <select class="input" name="" id="" [(ngModel)]="destinationAirport">
        <ng-container *ngFor="let city of opts">
        <option [value]="city.key" *ngIf="city.key !== departureAirport">
          {{ city.key }}
        </option>
        </ng-container>
      </select>
    </div>
    <div class="div8">
      <h3>Departure</h3>
      <input type="date"
      [min]="todayShort" class="input" id="departureTime" [(ngModel)]="departureDate">
    </div>
    <div class="div9">
      <h3>Return</h3>
      <input type="date" id="arrivalTime" class="input" [disabled]="" [min]="departureDate" [(ngModel)]="returnDate">
    </div>
    <div class="div10">
      <h3>Passengers</h3>
      <input type="number" class="input" [(ngModel)]="numberOfPassengers">
    </div>
    <div class="div11">
      <h3>Children</h3>
      <input type="number" class="input" [(ngModel)]="numberOfChildren">
    </div>
    <div class="div12">
    <button class="buttonMain" routerLink="/login" [disabled]="(numberOfPassengers <= 0 || numberOfPassengers > 9) || (numberOfChildren <= -1 || numberOfChildren > 4)" (click)="saving()">{{ buttonText }} </button>
    </div>
    <div class="div13">
      <h1>Choose your flight!</h1>
    </div>
    </div>

<router-outlet> </router-outlet>
