@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "../partials/colors";


.parent {
  display: grid;
  grid-template-columns: 4.5vw repeat(5, 1fr) 4vw;
  grid-template-rows: 1fr 1.5fr repeat(6, 1fr) 7vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-family: "Lato", sans-serif;
  background: url("https://i.ibb.co/wyj9qRC/background-website-1200.png");
  background-repeat: no-repeat;
  height: 100vh;
}

.div1 {
  grid-area: 1 / 1 / 2 / 8;
  padding-left: 2vw;
}

.div2 {
  grid-area: 2 / 1 / 9 / 8;
}

.div3 {
  grid-area: 9 / 1 / 10 / 8;
  font-family: 'Lato', sans-serif;
  color: white;
  margin-left: 3%;
  padding-top: 1.6%;
  font-size: 0.7em;
}

.div4 {
  grid-area: 3 / 4 / 8 / 7;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 2em;
  padding-right: 20vw;
  padding-left: 5vw;
  padding-top: 1vh;
  justify-content: center;
  color: #564fb5;
}

.copy_main {
  text-shadow: 2px 2px #ffffff;
}

.div5 {
  grid-area: 3 / 2 / 8 / 4;
  background-color: rgba(255, 255, 255, 0.678);
  -webkit-box-shadow: 10px 9px 9px -9px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 10px 9px 9px -9px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 9px 9px -9px rgba(0, 0, 0, 0.64);
  border-radius: 25px;
}

.div6 {
  grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: "Lato", sans-serif;
  margin: 10% 2% 0% 10%;
  padding-bottom: 1.5vh;
  border-radius: 15px;
  border-radius: 15px;
  border: solid 2px rgba(86, 79, 181, 0.5);
}

.div7 {
  grid-area: 4 / 3 / 5 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: "Lato", sans-serif;
  margin: 10% 10% 0% 1%;
  padding-bottom: 1.5vh;
  border-radius: 15px;
  border-radius: 15px;
  border: solid 2px rgba(86, 79, 181, 0.5);
}

.div8 {
  grid-area: 5 / 2 / 6 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: "Lato", sans-serif;
  margin: 2% 2% 0% 10%;
  padding-bottom: 1.5vh;
  border-radius: 15px;
  border-radius: 15px;
  border: solid 2px rgba(86, 79, 181, 0.5);
}

.div9 {
  grid-area: 5 / 3 / 6 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: "Lato", sans-serif;
  margin: 2% 10% 0% 1%;
  padding-bottom: 1.5vh;
  border-radius: 15px;
  border-radius: 15px;
  border: solid 2px rgba(86, 79, 181, 0.5);
}

.div10 {
  grid-area: 6 / 2 / 7 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: "Lato", sans-serif;
  background-color: white;
  margin: 2% 2% 0% 10%;
  padding-bottom: 1.5vh;
  border-radius: 15px;
  border: solid 2px rgba(86, 79, 181, 0.5);
}

.input {
  width: 60%;
  text-align: center;
  padding: 2% 0% 2% 0%;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  border: solid 1px rgba(86, 79, 181, 0.5);
}

.div11 {
  grid-area: 6 / 3 / 7 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-family: "Lato", sans-serif;
  background-color: white;
  margin: 2% 10% 0% 1%;
  padding-bottom: 1.5vh;
  border-radius: 15px;
  border-radius: 15px;
  border: solid 2px rgba(86, 79, 181, 0.5);
}

.div12 {
  grid-area: 7 / 2 / 8 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 1.5vh;
  background-color: #564fb5;
  border-radius: 0 0 25px 25px;
  margin-top: 3vh;

  .buttonMain {
    width: 80%;
    height: 70%;
    margin-top: 2%;
    padding: 3% 0% 3% 0%;
    border-radius: 40px 40px 40px 40px;
    font-family: 'Lato', sans-serif;
    background-color: $buttonColor;
    font-size: 2em;
    font-weight: bold;
  }
    .buttonMain:hover {
    background-color: #fac421;
  }
}

.div13 {
  grid-area: 3 / 2 / 4 / 4;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  padding-bottom: 0vh;
  background-color: #564fb5;
  background-size: cover;
  border-radius: 25px 25px 0 0;
  color: white;
}


@media only screen and (max-width: 1366px) and (min-width: 820px) {
  .div1 {
    img {
      height: 12vh;
    }
  }
  .parent {
    background: url("https://i.ibb.co/yNL5XvX/background-website-768.png");
    height: 100vh;
    overflow-y: hidden;
  }
    .input {
    width: 80%;
    text-align: center;
    padding: 2% 0% 2% 0%;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: solid 1px rgba(86, 79, 181, 0.5);
  }
}

@media only screen and (min-width: 545px) and (max-width: 819px) {
  .parent {
    background: url("https://i.ibb.co/zfh4YVf/background-website-mobile.png");
    grid-template-columns: 10vw 27.5vw 27.5vw 10vw;
    padding-left: 12vw;
    height: 100vh;
  }

  .div4 {
    display: none;
  }

  .div5 {
    padding-left: 15%;
  }

    .input {
    width: 80%;
    text-align: center;
    padding: 2% 0% 2% 0%;
    font-family: 'Lato', sans-serif;
    font-size: 0.6em;
    font-weight: bold;
    border: solid 1px rgba(86, 79, 181, 0.5);
  }

  .div13 {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 2.5vh;
    }
  }
}

@media only screen and (max-width: 544px) {

  .parent {
    background: url("https://i.ibb.co/zfh4YVf/background-website-mobile.png")
  }
  .div4 {
    display: none;
  }

  .div5 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .parent {
    grid-template-columns: 15vw 35vw 35vw 10vw;
    height: 100vh;
  }

  .input {
    width: 80%;
    text-align: center;
    padding: 2% 0% 2% 0%;
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;
    font-weight: bold;
    border: solid 1px rgba(86, 79, 181, 0.5);
  }

  .div6, .div7, .div8, .div9, .div10, .div11 {
    font-size: 0.8em;
  }

  .div13 {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 3.7vh;
    }
  }

  .div8 {
    h3 {
      font-size: 2vh;
    }

  .div9 {
    h3 {
      font-size: 2.2vh;
    }
  }

  .div10 {
    h3 {
      font-size: 2vh;
    }
  }

  }
    .div1 {    
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 70vw;

    }
  }
}




