
<div class="parent">

<div class="div1">
  <a routerLink="/chooseflight"><img class="logo" src="/assets/png/logo.png"></a>
</div>

<div class="div2">
  <li><p class="travelInfo">Departure airport:</p><p class="travelInfoStorage"> {{ showStorage.departureAirport }}</p> </li>
  <li><p class="travelInfo">Departure date:</p><p class="travelInfoStorage">{{ showStorage.departureDate | date: 'fullDate' }} </p></li>
  <li><p class="travelInfo">Arrival airport:</p><p class="travelInfoStorage"> {{ showStorage.arrivalAirport }} </p></li>
  <li><p class="travelInfo">Returning flight date:</p>
  <p class="travelInfoStorage">{{ showStorage.returnDate | date: 'fullDate' }}
  </p></li>


</div>

<div class="div3">
<h2>Passengers' details:</h2>
<div class="passengers" *ngFor="let passenger of passengers; let i=index">
  <div class="seats">{{ seats[i]}}</div>
  <div [ngClass]="{'bag': passenger.luggage, 'noBag': !passenger.luggage}">
  </div>
  <div [ngClass]="{'child': passengers[i].child, 'adult': !passengers[i].child}">
  </div>
  <div class="passengerName">
    {{ passengers[i].name }}
  </div>
<!-- Extra luggage: {{ passengers[i].luggage ? 'Yes' : 'No' }}<br> -->
</div>
<h1 class="price">PRICE: {{ (finalPrice | number : '1.2-2') + " " + currency }}
<img (click)="resetCurrencies()" src="/assets/png/pln.png">
<img (click)="countEur()" src="/assets/png/eur.png">
<img (click)="countUsd()" src="/assets/png/usd.png">
</h1>
</div>

<div class="div4">

</div>

</div>


<router-outlet> </router-outlet>
