

<div class="parent">
<div class="div1">
      <img class="logo" src="https://i.ibb.co/StCPyT5/logo3.png">
</div>
<div class="div2"> .;</div>
<div class="div3"> </div>
<div class="div4"> SIGN IN</div>
<div class="div5"> 
<input type="text" placeholder="e-mail" #email>
</div>
<div class="div6"> 
<input class="input" type="text" placeholder="hasło" #password>
</div>
<div class="div7"> 
<button (click)="log(email, password)">Zaloguj się </button></div>

</div>



  <!-- <div class="div1">

  </div>

  <div class="div4"></div>
  <div class="div5">
    <input type="text" placeholder="e-mail" #email>
  </div>
  <div class="div6">
    <input type="text" placeholder="hasło" #password>
  </div>
  <div class="div7">
    <button (click)="log(email, password)">Zaloguj się </button>
  </div>
  <div class="div3">

  </div>
  <div class="div2">footer</div>
  </div> -->

  <!-- <div class="div2">
    <div class="wrapper">
      <input type="text" placeholder="e-mail" #email>
      <input type="text" placeholder="hasło" #password>

      <button (click)="log(email, password)">Zaloguj się </button>
      {{ comUser }}
    </div>
  </div>

  <div class="div3">

  </div> -->


<!--
<h1>Ekran logowania</h1>

<div class="wrapper">
  <input type="text" placeholder="e-mail" #email>
  <input type="text" placeholder="hasło" #password>

  <button (click)="log(email, password)">Zaloguj się </button>
  {{ comUser }}
</div> -->

<router-outlet></router-outlet>

<!-- <ul>Do zrobienia:
  <li>Sprawdzenie dany użytkownik istnieje - albo z zewnętrzego JSONa albo z pliku users.ts - jeżeli tak, to przekieruj do wyboru komponentu, jeżeli nie - wyświetl komunikat</li>
</ul> -->
