

<div class="parent">
<div class="div1">
  <a routerLink="/chooseflight"><img class="logo" src="/assets/png/logo.png"></a>
</div>
<div class="div2"> </div>
<div class="div3"> </div>
<div class="div4">
<h2>{{ alert }} </h2>
<p class="alert">{{comUser}} {{visibleCounter}}</p>
</div>
<div class="div5">
<h2>LOGIN</h2>
<input class="input" type="text" placeholder="e-mail" #email>
</div>
<div class="div6">
<h2>PASSWORD</h2>
<input class="input" type="password" placeholder="hasło" #password>
</div>
<div class="div7">
<button class="buttonMain" (click)="log(email, password)" (click)="countTo0()">Login</button></div>

</div>

<router-outlet></router-outlet>
