@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "../partials/colors";

.parent {
display: grid;
grid-template-columns: 32vw 36vw 32vw;
grid-template-rows: repeat(6, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
background: url("https://i.ibb.co/VmVkfPd/login-background2.png");
height: 100vh;
font-family: 'Lato', sans-serif;
}

.div1 { grid-area: 1 / 1 / 2 / 4;
margin-bottom: 3%;  }
.div2 { grid-area: 6 / 1 / 7 / 4; }
.div3 { 
  grid-area: 2 / 2 / 6 / 3;
  background-color: rgba(255, 255, 255, 0.678);
  -webkit-box-shadow: 10px 9px 9px -9px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 10px 9px 9px -9px rgba(0, 0, 0, 0.64);
  box-shadow: 10px 9px 9px -9px rgba(0, 0, 0, 0.64);
  border-radius: 25px;  
  background-color: $mainOrange;
  }
.div4 { grid-area: 2 / 2 / 3 / 3;
  display: block;
  text-align: center;
  align-items: center;
  background-color: $secondaryPurple;
  border-radius: 25px 25px 0 0;
  font-size: 2em;
  color: white;
  font-weight: bold;
    .alert {
      color: black;
      background-color: $mainOrange;
      font-size: 1em;
    }
   }


.div5 { grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
.div6 { grid-area: 4 / 2 / 5 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  padding-bottom: 3vh;
  }
.div7 { grid-area: 5 / 2 / 6 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  background-color: $secondaryPurple;
  border-radius: 0px 0px 25px 25px;
    }

.input {
  width: 60%;
  text-align: center;
  padding: 2% 0% 2% 0%;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  border: solid 1px rgba(86, 79, 181, 0.5);
}

.buttonMain {
    width: 60%;
    height: 50%;
    margin-top: 2%;
    padding: 3% 0% 3% 0%;
    border-radius: 40px 40px 40px 40px;
    font-family: 'Lato', sans-serif;
    background-color: $buttonColor;
    font-size: 2em;
    font-weight: bold;
}

.buttonMain:hover {
    background-color: $mainOrange;
}

@media only screen and (max-width: 1366px) and (min-width: 820px) {
  .parent {
  grid-template-rows: repeat(6, 1fr);
  }

  .div7 {
    margin-top: 2vh;
    padding-bottom: 5vh;
  }

  .div4 {
  display: block;
  height: 15vh;
  text-align: center;
    .alert {
      font-size: 1.1em;
    }
    }
  }

@media only screen and (min-width: 545px) and (max-width: 819px) {}

@media only screen and (max-width: 544px) {
    .parent {
  grid-template-columns: 15vw 70vw 15vw;
  }

  .div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
    img {
      width: 70vw;
    }
  }

  .input {
    width: 80%;
    text-align: center;
    padding: 2% 0% 2% 0%;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: solid 1px rgba(86, 79, 181, 0.5);
  }

  .div4 {
  display: block;
  text-align: center;
    .alert {
      font-size: 0.9em;
    }
  }
}