.occupied {
  fill: gold;
}

body {
  background-color: #91d9a5;
}

.free {
  fill: #9B9B9B;
}

#seatLetter
{
  font-family: 'Lato', sans-serif;
  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 98vh;
}

  .seatsChoice {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

.seatsChoiceText {
  color: blue;
  font-size: 2em;
  font-weight: bold;
}

.chosenSeatsText {
  color: maroon;
  font-size: 2em;
  font-weight: bold;
}

